In [1]:
    d={'name':'ad','age':27,'job_role':'ds'}

In [2]:
# using for loop try to find out key and value

In [5]:
for i in d.items():
    print(i)
# using for loop how i will extract key and value togeather

('name', 'ad')
('age', 27)
('job_role', 'ds')

In [6]:
for i in d:
    print(i, end=' ')
    print(d[i])

name ad
age 27
job_role ds

In [11]:
for i in d:
    print(i,d[i])

name ad
age 27
job_role ds

In [8]:
d

{'name': 'ad', 'age': 27, 'job_role': 'ds'}

In [9]:
d.items()

dict_items([('name', 'ad'), ('age', 27), ('job_role', 'ds')])

In [12]:
#can we write like this?
for i,j in d.items():
    print(i,j)

name ad
age 27
job_role ds

In [ ]:
## function
# def is keyword we can use that to create a function

In [13]:
# write the program to add two value
a=int(input())
b=int(input())
print(a+b)

 6
 8

14

In [14]:
def add(a,b): #parameters
    return a+b
add(5,6) #argument

11

In [ ]:
# a function is a block of organized code written to carry out a specific task
# func help break our program into smaller and modular chunks to better readibility

In [ ]:
# user define func
# max ,min , sum ,print,len

In [15]:
# no arg no return
def no_arg():
    return()
no_arg()

()

In [16]:
# no arg,para with return
def no_arg_return():
    return 'hi'
no_arg_return()

'hi'

In [17]:
# with arg no return
def with_arg_no(a):
    return ()
with_arg_no(6)

()

In [18]:
# with arg with return
def square(a): #parameter
    return a*a
square(6) # argument

36

In [19]:
6*6

36

In [20]:
6**2

36

In [ ]:
# write the addition prog only using no parameter/no arg wih return

In [22]:
def add(a,b):
    return a+b

add(5,7)

12

In [24]:
def add():
    a=int(input('enter 1st no'))
    b=int(input('enter 2nd no'))
    return a+b
add()

enter 1st no 7
enter 2nd no 9

16

In [27]:
# why not print
def name():
    return 'hi'
name()

'hi'

In [30]:
def name1():
    print ('hi')
name1()

hi

In [33]:
res=name1()
type(res)

hi

NoneType

In [26]:
def add():
    n1 = int(input('Enter the first number'))
    n2 = int(input('Enter the second number'))
    return n1+n2
    
    
add()

Enter the first number 7
Enter the second number 8

15

In [34]:
def squareofnum(a):
    '''this function is find square of number'''
    return a**2

In [35]:
squareofnum(7)

49

In [36]:
print(squareofnum.__doc__)

this function is find square of number

In [37]:
# check string is palindrom or not using function
# check number is even or odd using function
def check_palindrom(a):
    if a==a[::-1]:
        return 'palindrom'
    else:
        return 'not palindrom'

In [39]:
check_palindrom('mama')

'not palindrom'

In [41]:
def even_odd(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
even_odd(50)

'even'

In [42]:
# find out the area of circle
# with return no arg

In [43]:
def area_circle():
  r = int(input())
  return 22/7*r*r
area_circle()

 8

201.14285714285714

In [44]:
def circle_area():
  r = int(input("Enter radius"))
  return 3.14*r*r
print(circle_area())

Enter radius 8

200.96

In [45]:
def area_of_circle(r):
    area = 3.14 * r * r
    return area

r = float(input("Enter the radius : "))
area_of_circle(r)

Enter the radius :  8

200.96

In [ ]:
# lambda anonymus function(func without name)
#https://intellipaat.com/blog/wp-content/uploads/2025/03/Lambda-Function-in-Python.jpg

In [47]:
add= lambda a,b,c:a+b+c
add(2,3,5)

10

In [50]:
# try to square a number
square=lambda a:a**2
square(9)

81

In [52]:
# check the no is even or odd using the lambda
even_odd=lambda x:'even' if x%2==0 else 'odd'
even_odd(3)

'odd'

In [54]:
# try to find out maximum number in between two number
# the no is +ve , -ve or 0
max_of_two_numbers = lambda a,b : a if a>b else b
max_of_two_numbers(19,4)

19

In [61]:

posivite_negative = lambda n :'Positive' if n>0 else 'Negative'
print(posivite_negative(0))

Negative

In [64]:
posiveornegative=lambda a:'a is positive' if a>0 else 'a is zero' if a==0 else 'a is negative'
posiveornegative(-8)

'a is negative'

In [65]:
check_positive_or_negative = lambda a : 'Positive' if a>0 else 'Zero' if a == 0 else 'Negative'
check_positive_or_negative(0)

'Zero'

In [ ]:
# lambda
# map
# filter func, lambda
# reduce

In [72]:
seq=[8,9,7,5,2,4]
# even 
list(filter(lambda x:x%2==0,seq))

[8, 2, 4]

In [73]:
# try to find out 
# from this seq which one is greater than 2
seq=[6,5,1,9,0.5]
list(filter(lambda x:x>2,seq))

[6, 5, 9]

In [75]:
prog=['python','php','java','c','c++']
# you have to find out the string which is started with p

In [76]:
seq2 = ['python', 'php', 'java', 'c', 'c++']

list(filter(lambda x : x.startswith('p'), seq2))

['python', 'php']

In [77]:
list(filter(lambda s:s.startswith('p'),prog))

['python', 'php']

In [78]:
seq=[8,9,7,5,2,4]
# even 
list(map(lambda x:'even' if x%2==0 else 'odd',seq))

['even', 'odd', 'odd', 'odd', 'even', 'even']

In [79]:
l=[8,9,0]
list(map(lambda x:x**2,l))

[64, 81, 0]

In [80]:
l=[5,6,7]
#[10,12,14]
list(map(lambda x:x+x,l))

[10, 12, 14]

In [81]:
k=[5,6,7]
#[25,36,49]
seq4 = [5,6,7]

list(map(lambda x : x*x, seq4))

[25, 36, 49]

In [83]:
l1=[3,4,5]
l2=[4,5,7]
# 7,9,12
#l1+l2

In [85]:
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 12]

In [94]:
import functools
from functools import reduce
l=[8,9,7,6,5]

In [95]:
functools.reduce(lambda x,y:x+y,l)

35

In [96]:
8+9+7+6+5

35

In [97]:
# reduce
# try to find out the maximum num
lst = [8,7,5,7,9,10]
functools.reduce(lambda x,y : x if x>y else y, lst)

10

In [98]:
functools.reduce(lambda x,y: x if x<y else y,l)

5

In [ ]:
+